---
---

$sans-serif-font-family: "Helvetica Neue", "Arial", sans-serif;
$serif-font-family:      "Helvetica Neue", "Arial", sans-serif;
$code-font-family:       "Menlo", "Consolas", monospace;

$body-color:             #111;
$link-color:             #000;

$code-background-color:   #f5f5f5;
$pagination-button-color: #e0e0e0;

$dark-gray-color:        #000;
$light-gray-color:       #666;
$extra-light-gray-color: #eee;

$container-responsive-width: 768px;
$elements-responsive-width:  30em;

$icon-transition-time: .2s;
$envelope-color:       #000;
$twitter-color:        #000;
$instagram-color:      #000;
$github-color:         #000;
$linkedin-color:       #000;
$facebook-color:       #000;
$pinterest-color:      #000;
$medium-color:         #000;
$codepen-color:        #000;
$rss-color:            #000;

@import "-sections-dir";
